CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_100=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_EXAMPLE_LCD_PATTERN_ILI9881C=y
CONFIG_EXAMPLE_MIPI_DSI_DISP_HRES_800=y
CONFIG_EXAMPLE_MIPI_DSI_DISP_VRES_1280=y
CONFIG_EXAMPLE_MIPI_CSI_HRES_800=y
CONFIG_EXAMPLE_MIPI_CSI_VRES_1280=y
# CONFIG_SHADOW_SERVO_KEYBOARD_ENABLE is not set
CONFIG_SHADOW_SERVO1_GPIO=1
CONFIG_SHADOW_SERVO2_GPIO=2
CONFIG_SHADOW_SERVO3_GPIO=3
